*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: black;
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10% 10px 10%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    h2{
      padding: 20px 20px 20px 0;
      border-right: 2px solid #eee;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      margin-left: 20px;

      a{
        color: black;
        font-size: 18px;
        text-decoration: none;
      }
    }
  }

  footer{
    box-shadow: rgba(0, 0, 0, 0.18) 2px 0px 4px;
    padding: 30px 10% 30px 10%;

    a{
      text-decoration: none;
    }
  }

  .edit-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0 0 0 10%;

    h1{
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(0 0 0 / 18%);
    }

    .product-data-container {
      width: 50%;

      .product-data{
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;

        &-value{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          input{
            width: 200px;
            height: 40px;
            padding: 5px;
            border-radius: 8px;
            border: 1px solid gray;
            color: gray;
          }
        }

        .alert{
          font-size: 13px;
          color: red;
        }
      }
    }

    .edit-actions{
      width: 50%;
      display: flex;
      justify-content: flex-end;

      &-save{
        background-color: green;
      }

      &-back{
        background-color: gray;
      }

      &-delete{
        background-color: red;
      }

      &-save,
      &-back,
      &-delete{
        height: 30px;
        margin-left: 10px;
        border-radius: 8px;
        padding: 5px;
        border: 0px;
        color: white;

        &:hover{
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  .delete-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0 0 0 10%;

   &-headers{
    width: 50%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(0 0 0 / 18%);

    h2{
      border-radius: 8px;
      border: 2px solid gray;
      padding: 5px;
      background-color: mediumvioletred;
    }
   }

    .product-data-container {
      width: 50%;

      .product-data{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        p{
          width: 50%;
          color: gray;

          &:nth-child(1){
            color: black;
            font-weight: bold;
          }
        }
      }
    }

    .delete-actions{
      display: flex;
      flex-direction: row;

      &-delete,
      &-back{ 
        padding: 7px;
        border-radius: 8px;
        border: 0px;
        color: white;
        margin-right: 10px;

        &:hover{
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      &-delete{
        background-color: red;
      }

      &-back{
        background-color: skyblue;
      }
    }
  }

  .coming-soon-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    padding: 10px 10% 10px 10%;

    .main-container{
      display: flex;
      flex-direction: row;
      align-items: center;

      img{
        width: 400px;
        height: 300px;
      }

      a{
        text-decoration: none;
      }
    }
  }
}